.loading-animation {
    opacity: 1;
    animation: loading ease-in-out 2s alternate infinite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.border-form {
    border: 1px solid rgba(128, 128, 128, 0.308);
}

/* .border-form:focus {
    border: 1px solid rgba(128, 128, 128, 0.8);
} */

.border-button {
    border: 1px solid rgb(17, 24, 39);
}

.border-button:hover {
    cursor: pointer;
    background-color: rgb(17, 24, 39);
    color: white;
}

.error-msg {
    visibility: hidden;
    color: red;
}
